JediTournamentWebApp/Service References/JediTournamentWCF/ServiceJediTournament2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3018/ServiceJediTournament.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JediTournamentWCF.EntitiesWCF" />
  <xs:import schemaLocation="http://localhost:3018/ServiceJediTournament.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getJedis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JediTournamentWCF.EntitiesWCF" minOccurs="0" name="getJedisResult" nillable="true" type="q1:ArrayOfJediWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJedis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JediTournamentWCF.EntitiesWCF" minOccurs="0" name="jediList" nillable="true" type="q2:ArrayOfJediWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateJedisResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeJedis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="removeList" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeJedisResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JediTournamentWCF.EntitiesWCF" minOccurs="0" name="getStadesResult" nillable="true" type="q4:ArrayOfStadeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JediTournamentWCF.EntitiesWCF" minOccurs="0" name="getMatchsResult" nillable="true" type="q5:ArrayOfMatchWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTournois">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTournoisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JediTournamentWCF.EntitiesWCF" minOccurs="0" name="getTournoisResult" nillable="true" type="q6:ArrayOfTournoiWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaracs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaracsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JediTournamentWCF.EntitiesWCF" minOccurs="0" name="getCaracsResult" nillable="true" type="q7:ArrayOfCaracteristiqueWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>