JediTournamentWCFTest/Service References/ServiceJediTournamentEntities/ServiceJediTournament.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceJediTournament" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3018/ServiceJediTournament.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3018/ServiceJediTournament.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3018/ServiceJediTournament.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JediTournamentWCF.EntitiesWCF" />
      <xsd:import schemaLocation="http://localhost:3018/ServiceJediTournament.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3018/ServiceJediTournament.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EntitiesLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceJediTournament_getJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:getJedis" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_getJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJedisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_updateJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:updateJedis" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_updateJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateJedisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_removeJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:removeJedis" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_removeJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeJedisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_getStades_InputMessage">
    <wsdl:part name="parameters" element="tns:getStades" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_getStades_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_getMatchs_InputMessage">
    <wsdl:part name="parameters" element="tns:getMatchs" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_getMatchs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMatchsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_getTournois_InputMessage">
    <wsdl:part name="parameters" element="tns:getTournois" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_getTournois_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTournoisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_getCaracs_InputMessage">
    <wsdl:part name="parameters" element="tns:getCaracs" />
  </wsdl:message>
  <wsdl:message name="IServiceJediTournament_getCaracs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCaracsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceJediTournament">
    <wsdl:operation name="getJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJediTournament/getJedis" message="tns:IServiceJediTournament_getJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJediTournament/getJedisResponse" message="tns:IServiceJediTournament_getJedis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJediTournament/updateJedis" message="tns:IServiceJediTournament_updateJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJediTournament/updateJedisResponse" message="tns:IServiceJediTournament_updateJedis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJediTournament/removeJedis" message="tns:IServiceJediTournament_removeJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJediTournament/removeJedisResponse" message="tns:IServiceJediTournament_removeJedis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJediTournament/getStades" message="tns:IServiceJediTournament_getStades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJediTournament/getStadesResponse" message="tns:IServiceJediTournament_getStades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMatchs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJediTournament/getMatchs" message="tns:IServiceJediTournament_getMatchs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJediTournament/getMatchsResponse" message="tns:IServiceJediTournament_getMatchs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTournois">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJediTournament/getTournois" message="tns:IServiceJediTournament_getTournois_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJediTournament/getTournoisResponse" message="tns:IServiceJediTournament_getTournois_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCaracs">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceJediTournament/getCaracs" message="tns:IServiceJediTournament_getCaracs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceJediTournament/getCaracsResponse" message="tns:IServiceJediTournament_getCaracs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceJediTournament" type="tns:IServiceJediTournament">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getJedis">
      <soap:operation soapAction="http://tempuri.org/IServiceJediTournament/getJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJedis">
      <soap:operation soapAction="http://tempuri.org/IServiceJediTournament/updateJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeJedis">
      <soap:operation soapAction="http://tempuri.org/IServiceJediTournament/removeJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStades">
      <soap:operation soapAction="http://tempuri.org/IServiceJediTournament/getStades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatchs">
      <soap:operation soapAction="http://tempuri.org/IServiceJediTournament/getMatchs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournois">
      <soap:operation soapAction="http://tempuri.org/IServiceJediTournament/getTournois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCaracs">
      <soap:operation soapAction="http://tempuri.org/IServiceJediTournament/getCaracs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceJediTournament">
    <wsdl:port name="BasicHttpBinding_IServiceJediTournament" binding="tns:BasicHttpBinding_IServiceJediTournament">
      <soap:address location="http://localhost:3018/ServiceJediTournament.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>